:root{
    --text-color: #ffffff;
    --accent-color: #4CAF50;
    --background-color: #649dfc;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-bottom: 1px black solid;
    height:10%;
}

.navbar__logo{
    font-size: 36px;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

.navbar__logo i{
    color: var(--accent-color);
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li{
    font-size: 24px;
    padding: 8px 20px;
    transition-duration: 0.4s;
}

.navbar__menu li:hover{
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
}

.navbar__icons{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 900px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%
    }

    .navbar__menu li{
        width:100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}
/* Side Bar */
.sidebar{
    position: absolute;
    left:0;
    width: 100px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-right: 1px black solid;
    list-style: none;
    border-right: 1px black solid;
}


.sidebar li{
    margin:0 auto;
    align-items: center;
    width:70px;
    text-align: center;
    font-size: 24px;
    padding: 5px 15px;
    transition-duration: 0.4s;
}

.sidebar li:hover{
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
}
.button_wrapper{
    width: 100%;
    text-align: center;
    margin:0 auto;
}

.PanelFloat {
    position: fixed;
    overflow: hidden;
    z-index: 2400;
    right: 40%;
    bottom: 8% !important;
}

.update_button{
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 1px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.update_button:hover {
    background-color: var(--accent-color);
    color: white;
}


/* Map */
.map_wrapper{
    position: absolute;
    min-width: 1500px;
    left: 101px;
    height: 90%;
    width: calc(100% - 100px);;
}

.map{
    width:100%;
    height: 100%;
}

#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:auto;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.8);z-index: 1;font-size:15px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none; font-size:18px; margin:0 auto;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:black}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px; color: black}
#pagination .on {font-weight: bold; cursor: default;color: var(--background-color);}


.loader {
    position: absolute;
    z-index: 2401;
    left: 40%;
    top: 20%;
    border: 30px solid var(--background-color); /* Light grey */
    border-top: 30px solid var(--accent-color); /* Blue */
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ul{
    padding-inline-start: 0px;
}

h5 {
    display: block;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

table {
    font-size: 20px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: 100%;
}
thead{
    box-shadow: 0 5px 10px #e1e5ee;
}
th {
    font-size: 24px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
    background-color: #bbd0ec;
    border-radius: 20px;
}
td {
    padding: 1rem 2rem;
    border-radius: 20px;
}

tr:nth-child(even) {
    background-color: #bbd0ec;
  }

.pagination {
    margin-top: 1em;
    text-align: center;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: var(--background-color);
}

.pagination-number:hover,
.pagination-current {
    background-color: var(--accent-color);
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}