{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/map_status.js' %}"></script>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ Key }}&libraries=clusterer,services"></script>
    <div class="sidebar">
        <li>
            <a href="{% url 'map_status' %}" class="button_wrapper" ><i class="fas fa-map-marked-alt"></i><br>Map</a>
        </li>
        <li>
            <a href="{% url 'list_status' %}" class="button_wrapper" ><i class="fas fa-list"></i><br>List</a>
        </li>
        <li>
            <a href="{% url 'update_api' %}" class="button_wrapper" ><i class="fas fa-wrench"></i><br>Update API</a>
        </li>
    </div>

    <div class="map_wrapper">
        <div class="loader"></div>
        <div class="PanelFloat" >
            <button class="update_button" onclick='update_map()'><i class="fas fa-redo"></i>  Search in current Map</button>
        </div>
        <div id="map" class="map"></div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        Keyword : <input type="text" placeholder="Input" value="서강대학교" id="keyword" size="15">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script>
        map_center["lat"] = "{{ lat }}";
        map_center["lng"] = "{{ lng }}"
        initMap();
    </script>



{% endblock %}